<div class="timeStatistics">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Tag">
      <div class="day-wrapper">
        <div class="date-wrapper">
          <form class="day-form" [formGroup]="rangeDay" onsubmit="return false;">
            <button mat-icon-button class="next-icon" (click)="prevDay()">
              <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_before</mat-icon>
            </button>
            <mat-form-field appearance="fill">
              <mat-label>Datum auswählen</mat-label>
              <input [formGroup]="rangeDay" matInput [matDatepicker]="picker1" formControlName="startDay"
                (dateChange)="dateSelectionDay()">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <button mat-icon-button class="next-icon" (click)="nextDay()">
              <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
            </button>
          </form>
        </div>
        <div class="wrapper" *ngIf="dayChart">
          <div style="display: block" id="dayChart" class="chart">
            <canvas baseChart
                    [datasets]="dayChart.data"
                    [labels]="dayChart.labels"
                    [options]="dayChart.options"
                    [legend]="dayChart.legend"
                    [chartType]="dayChart.type"
                    (chartHover)="chartHovered($event)">
            </canvas>
          </div>
          <div class="mat-elevation-z8">
            <div class="post-btn-wrapper"><div class="post-btn-wrapper-center">
              <button mat-raised-button color="primary" class="post-btn" (click)="postStatistics('daily')">Statistik posten</button>
            </div></div>
            <mat-card class="info-card" #detailsCard>
              <div class="center">
                <img onerror="this.src = 'assets/images/defaultFavicon.png';" #favicon class="favicon" src="{{site.favicon}}" alt="favicon"/>
                <b><p class="title">{{site.url}}</p></b>
                <p>{{site.prettyTime}}</p>
                <p>{{site.percentage.toString() + "%"}}</p>
                <p>{{"Visits: " + site.visits.toString()}}</p>
              </div>
            </mat-card>
            <!-- Table -->
            <table mat-table [dataSource]="sites">

              <!-- Favicon Column -->
              <ng-container matColumnDef="favicon">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef> </th>
                <td class="smallColumn" mat-cell *matCellDef="let site">
                  <img class="faviconInTable" [src]="site.favicon" onerror="this.src = '/assets/images/defaultFavicon.png';"/>
                </td>
              </ng-container>

              <!-- URL Column -->
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef>Url</th>
                <td mat-cell *matCellDef="let site">{{ site.url }}</td>
              </ng-container>

              <!-- Visits Column -->
              <ng-container matColumnDef="visits">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef>Besuche</th>
                <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.visits }}</td>
              </ng-container>

              <!-- Percentage Column -->
              <ng-container matColumnDef="percentage">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef>Prozent</th>
                <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.percentage }} %</td>
              </ng-container>

              <!-- Time Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Gesamtzeit</th>
                <td mat-cell *matCellDef="let site">{{ site.prettyTime }}</td>
              </ng-container>

              <!-- Total Favicon Column -->
              <ng-container matColumnDef="totalfavicon">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> </th>
              </ng-container>
              <!-- Total Url Column -->
              <ng-container matColumnDef="totalUrl">
                <th class="second-header-row" mat-header-cell *matHeaderCellDef> Gesamt: </th>
              </ng-container>
              <!-- Total Visits Column -->
              <ng-container matColumnDef="totalVisits">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTag.visits}} </th>
              </ng-container>
              <!-- Total Percentage Column -->
              <ng-container matColumnDef="totalPercentage">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTag.percentage}} </th>
              </ng-container>
              <!-- Total time Column -->
              <ng-container matColumnDef="totalTime">
                <th class="second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTag.prettyTime}} </th>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-header-row *matHeaderRowDef="['totalfavicon', 'totalUrl', 'totalVisits', 'totalPercentage', 'totalTime']"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
          </div>
        </div>

        <div *ngIf="!dayChart && !loading">
          <app-not-found></app-not-found>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Woche">
      <div class="week-wrapper row">
        <div class="col-3">
          <div class="center">
            <button mat-raised-button color="primary" class="post-btn" [disabled]="weekTime.length == 0" (click)="postStatistics('weekly')">Statistik posten</button><br><br>
            <button mat-raised-button color="accent" class="addweek-btn" [disabled]="addedWeeks.length > 5" (click)="addWeek()">Woche hinzufügen</button>
          </div>
          <ng-container *ngFor="let addedWeek of addedWeeks; index as i">
            <form class="week-form center" onsubmit="return false;">
              <button mat-icon-button class="next-icon" (click)="prevWeek(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_before</mat-icon>
              </button>
              <mat-form-field appearance="fill">
                <mat-label>{{i+1}}. Woche auswählen</mat-label>
                <mat-date-range-input [formGroup]="addedWeek" [rangePicker]="picker2">
                  <input matStartDate formControlName="startWeek" (dateChange)="startDateSelectionWeek(i)">
                  <input matEndDate formControlName="endWeek" (dateChange)="endDateSelectionWeek(i)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2></mat-date-range-picker>
                <mat-error *ngIf="addedWeek.controls.startWeek.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="addedWeek.controls.endWeek.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
              <button mat-icon-button class="next-icon" (click)="nextWeek(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
              </button>
              <button mat-icon-button class="delete-icon" (click)="deleteWeek(addedWeek.controls.index.value)">
                <mat-icon aria-hidden="false" *ngIf="i != 0">delete</mat-icon>
              </button>
            </form>
          </ng-container>
        </div>
        <div class="col-8">
          <canvas baseChart *ngIf="weekChart" [datasets]="weekChart.data" [labels]="weekChart.labels"
            [options]="weekChart.options" [plugins]="weekChart.plugins" [legend]="weekChart.legend"
            [chartType]="weekChart.type">
          </canvas>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Monat">
      <div class="month-wrapper row">
        <div class="col-3">
          <div class="center">
            <button mat-raised-button color="primary" class="post-btn" [disabled]="monthDataValid" (click)="postStatistics('monthly')">Statistik posten</button><br><br>
            <button mat-raised-button color="accent" class="addmonth-btn" [disabled]="addedMonths.length > 5" (click)="addMonth()">Monat hinzufügen</button>
          </div>
          <ng-container *ngFor="let addedMonth of addedMonths; index as i">
            <form class="month-form center" onsubmit="return false;">
              <button mat-icon-button class="next-icon" (click)="prevMonth(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_before</mat-icon>
              </button>
              <mat-form-field appearance="fill">
                <mat-label>{{i+1}}. Monat auswählen</mat-label>
                <mat-date-range-input [formGroup]="addedMonth" [rangePicker]="picker3">
                  <input matStartDate formControlName="startMonth" (dateChange)="startDateSelectionMonth(i)">
                  <input matEndDate formControlName="endMonth" (dateChange)="endDateSelectionMonth(i)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-date-range-picker #picker3></mat-date-range-picker>
                <mat-error *ngIf="addedMonth.controls.startMonth.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="addedMonth.controls.endMonth.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
              <button mat-icon-button class="next-icon" (click)="nextMonth(i)">
                <mat-icon aria-hidden="false">navigate_next</mat-icon>
              </button>
              <button mat-icon-button class="delete-icon" (click)="deleteMonth(addedMonth.controls.index.value)">
                <mat-icon aria-hidden="false" *ngIf="i != 0">delete</mat-icon>
              </button>
            </form>
          </ng-container>
        </div>
        <div style="display: block" id="monthChart" class="col-8">
          <canvas baseChart *ngIf="monthChart" [datasets]="monthChart.data" [labels]="monthChart.labels"
            [options]="monthChart.options" [plugins]="monthChart.plugins" [legend]="monthChart.legend"
            [chartType]="monthChart.type">
          </canvas>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Gesamt">
      <div class="total-wrapper">
        <div class="funfacts" *ngIf="totalChart">
          <mat-card class="funfact">
            <h3 class="headline"> <b>Gesamtzeit:</b></h3><p>{{allData.allTime}}</p>
          </mat-card>
          <mat-card class="funfact">
            <h3 class="headline"><b>Erste Benutzung:</b></h3><p>{{allData.firstTime}}</p>
          </mat-card>
          <mat-card class="funfact">
            <h3 class="headline"><b>Durchschnittliche Benutzung pro Seite:</b></h3><p>{{allData.avgTime}}</p>
          </mat-card>
          <mat-card class="funfact">
            <h3 class="headline"><b>Beliebteste Seite:</b></h3><p>{{allData.bestSite}}</p>
          </mat-card>
        </div>

        <div class="wrapper" *ngIf="totalChart">
          <div style="display: block" id="totalChart" class="chart">
            <canvas baseChart
                    [datasets]="totalChart.data"
                    [labels]="totalChart.labels"
                    [options]="totalChart.options"
                    [legend]="totalChart.legend"
                    [chartType]="totalChart.type"
                    (chartHover)="chartHovered($event, true)">
            </canvas>
          </div>

          <div class="mat-elevation-z8">
            <div class="post-btn-wrapper"><div class="post-btn-wrapper-center">
              <button mat-raised-button color="primary" class="post-btn" (click)="postStatistics('total')">Statistik posten</button>
            </div></div>
            <mat-card class="info-card" #detailsCard>
              <div class="center">
                <img onerror="this.src = '/assets/images/defaultFavicon.png';" #faviconTotal class="favicon" src="{{siteTotal.favicon}}" alt="favicon"/>
                <b><p class="title">{{siteTotal.url}}</p></b>
                <p>{{siteTotal.prettyTime}}</p>
                <p>{{siteTotal.percentage.toString() + "%"}}</p>
                <p>{{"Visits: " + siteTotal.visits.toString()}}</p>
              </div>
            </mat-card>
            <!-- Table -->
            <table mat-table [dataSource]="sitesTotal">

              <!-- Favicon Column -->
              <ng-container matColumnDef="favicon">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef> </th>
                <td class="smallColumn" mat-cell *matCellDef="let site">
                  <img class="faviconInTable" [src]="site.favicon" onerror="this.src = '/assets/images/defaultFavicon.png';"/>
                </td>
              </ng-container>

              <!-- URL Column -->
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef>Url</th>
                <td mat-cell *matCellDef="let site">{{ site.url }}</td>
              </ng-container>

              <!-- Visits Column -->
              <ng-container matColumnDef="visits">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef>Besuche</th>
                <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.visits }}</td>
              </ng-container>

              <!-- Percentage Column -->
              <ng-container matColumnDef="percentage">
                <th class="smallColumn" mat-header-cell *matHeaderCellDef>Prozent</th>
                <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.percentage }} %</td>
              </ng-container>

              <!-- Time Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Gesamtzeit</th>
                <td mat-cell *matCellDef="let site">{{ site.prettyTime }}</td>
              </ng-container>

              <!-- Total Favicon Column -->
              <ng-container matColumnDef="totalfavicon">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> </th>
              </ng-container>
              <!-- Total Url Column -->
              <ng-container matColumnDef="totalUrl">
                <th class="second-header-row" mat-header-cell *matHeaderCellDef> Gesamt: </th>
              </ng-container>
              <!-- Total Visits Column -->
              <ng-container matColumnDef="totalVisits">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTotal.visits}} </th>
              </ng-container>
              <!-- Total Percentage Column -->
              <ng-container matColumnDef="totalPercentage">
                <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTotal.percentage}} </th>
              </ng-container>
              <!-- Total time Column -->
              <ng-container matColumnDef="totalTime">
                <th class="second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformationTotal.prettyTime}} </th>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-header-row *matHeaderRowDef="['totalfavicon', 'totalUrl', 'totalVisits', 'totalPercentage', 'totalTime']"></tr>


            </table>
          </div>
        </div>
        <div *ngIf="!totalChart">
          <app-not-found></app-not-found>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
