<div *ngIf="!authService.username && !authService.loading" class="container main-page">
  <h1>Willkommen auf DHBW Web-Timer</h1>
  <h3>Um diese Seite zu benutzen müssen sie eingeloggt sein!</h3><br>
  <label >Noch kein Account?</label><br>
  <button class="register-btn" mat-raised-button color="primary" (click)="register()">Registrieren mit Google</button><br><br>
  <label>Bereits registriert?</label><br>
  <button mat-raised-button color="primary" (click)="login()">Einloggen mit Google</button>
  <br><br>
  <button mat-raised-button color="accent"><a href="assets/downloads/EXTENSION.crx" class="download-btn" download="dhbw-web-timer.crx">Extension herunterladen</a></button>
</div>
<div *ngIf="authService.username" class="container main-page">
  <h1 class="center">Statistik für: Heute</h1>
  <div *ngIf="!dayChart">
    <h3>Noch keine Einträge für heute!</h3>
  </div>
  <div class="wrapper" *ngIf="dayChart">
    <div style="display: block" id="dayChart" class="chart">
      <canvas baseChart *ngIf="dayChart"
              [datasets]="dayChart.data"
              [labels]="dayChart.labels"
              [options]="dayChart.options"
              [legend]="dayChart.legend"
              [chartType]="dayChart.type"
              (chartHover)="chartHovered($event)">
      </canvas>
    </div>

    <mat-card class="example-card" #detailsCard>
      <div class="center">
        <img #favicon class="favicon" src="{{sites[0].favicon}}"/>
        <b><p #title class="title">{{sites[0].url}}</p></b>
        <p #detailsCardAbsoluteTime>{{sites[0].prettyTime}}</p>
        <p #detailsCardPercent>{{sites[0].percentage.toString() + "%"}}</p>
        <p #visits>{{"Visits: " + sites[0].visits.toString()}}</p>
      </div>
    </mat-card>

    <div class="mat-elevation-z8">
      <!-- Table -->
      <table mat-table [dataSource]="sites">

        <!-- Favicon Column -->
        <ng-container matColumnDef="favicon">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef> </th>
          <td class="smallColumn" mat-cell *matCellDef="let site"> <img class="faviconInTable" [src]="site.favicon" /> </td>
        </ng-container>

        <!-- URL Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>Url</th>
          <td mat-cell *matCellDef="let site">{{ site.url }}</td>
        </ng-container>

        <!-- Visits Column -->
        <ng-container matColumnDef="visits">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef>Visits</th>
          <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.visits }}</td>
        </ng-container>

        <!-- Percentage Column -->
        <ng-container matColumnDef="percentage">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef>Percentage</th>
          <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.percentage }} %</td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time spent</th>
          <td mat-cell *matCellDef="let site">{{ site.prettyTime }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
  </div>
</div>