.example-card {
  max-width: 300px;
  float: right;
}

.example-header-image {
  width: 40px;
  height: 40px;
}

.favicon{
  width: 40px;
  height: 40px;
  object-fit: contain;
  //-webkit-filter: drop-shadow(0px 0px 3px #000000	);
  //filter: drop-shadow(0px 0px 3px #000000	);
}

.chart{
  width: 70%;
  float: left;
  margin: 0;
}

.main-page {
  margin-top: 2vh;
  padding-bottom: 35px;
}

.example-card {
  width: 27%;
  margin-top: 9.5%;
  margin-right: 3%;
}

.center {
  text-align: center;
}

.title {
  font-size: 1em;
}

td,th {
  width: 25%;
  font-size: 15px;
}

.smallColumn{
  width: 5%;
}

.faviconInTable{
  height: 26px;
  width: 26px;

  //-webkit-filter: drop-shadow(0px 0px 3px #000000);
  //filter: drop-shadow(0px 0px 3px #000000	);
}

table{
  margin: auto;
  min-width: 500px;
  width: 100%;
}

.download-btn {
  text-decoration: none;
  color: black;
}