<div *ngIf="!authService.username && !authService.loading" class="container main-page">
  <h1>Willkommen auf DHBW Web-Timer</h1>
  <h3>Um diese Seite zu benutzen müssen sie eingeloggt sein!</h3><br>
  <label >Noch kein Account?</label><br>
  <button class="register-btn" mat-raised-button color="primary" (click)="authService.sendRegisterRequest()">Registrieren mit Google</button><br><br>
  <label>Bereits registriert?</label><br>
  <button mat-raised-button color="primary" (click)="authService.sendLoginRequest()">Einloggen mit Google</button>
  <br><br>
  <button mat-raised-button color="accent"><a href="assets/downloads/EXTENSION.crx" class="download-btn" download="dhbw-web-timer.crx">Extension herunterladen</a></button>
</div>
<div *ngIf="authService.username" class="container main-page">
  <h3 class="center">Statistik für: Heute</h3>
  <div *ngIf="!dayChart && !loading">
    <app-not-found></app-not-found>
  </div>
  <div class="wrapper" *ngIf="dayChart">
    <div style="display: block" id="dayChart" class="chart">
      <canvas baseChart *ngIf="dayChart"
              [datasets]="dayChart.data"
              [labels]="dayChart.labels"
              [options]="dayChart.options"
              [legend]="dayChart.legend"
              [chartType]="dayChart.type"
              (chartHover)="chartHovered($event)">
      </canvas>
    </div>


    <div class="mat-elevation-z8">
      <div class="post-btn-wrapper"><div class="post-btn-wrapper-center">
        <button mat-raised-button color="primary" class="post-btn" (click)="postStatistics()">Statistik posten</button>
      </div></div>
      <mat-card class="info-card" #detailsCard>
        <div class="center">
          <img onerror="this.src = '/assets/images/defaultFavicon.png';" #favicon class="favicon" src="{{site.favicon}}" alt="favicon"/>
          <b><p class="title">{{site.url}}</p></b>
          <p>{{site.prettyTime}}</p>
          <p>{{site.percentage.toString() + "%"}}</p>
          <p>{{"Visits: " + site.visits.toString()}}</p>
        </div>
      </mat-card>
      <!-- Table -->
      <table mat-table [dataSource]="sites">

        <!-- Favicon Column -->
        <ng-container matColumnDef="favicon">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef> </th>
          <td class="smallColumn" mat-cell *matCellDef="let site"> <img class="faviconInTable" [src]="site.favicon"  onerror="this.src = '/assets/images/defaultFavicon.png';"/> </td>
          <td class="smallColumn" mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- URL Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>Url</th>
          <td mat-cell *matCellDef="let site">{{ site.url }}</td>
          <td mat-footer-cell *matFooterCellDef> Gesamt: </td>
        </ng-container>

        <!-- Visits Column -->
        <ng-container matColumnDef="visits">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef>Visits</th>
          <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.visits }}</td>
          <td class="smallColumn" mat-footer-cell *matFooterCellDef> {{generalInformation.visits}} </td>
        </ng-container>

        <!-- Percentage Column -->
        <ng-container matColumnDef="percentage">
          <th class="smallColumn" mat-header-cell *matHeaderCellDef>Percentage</th>
          <td class="smallColumn" mat-cell *matCellDef="let site">{{ site.percentage }} %</td>
          <td class="smallColumn" mat-footer-cell *matFooterCellDef> 100 % </td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time spent</th>
          <td mat-cell *matCellDef="let site">{{ site.prettyTime }}</td>
          <td footer *matFooterCellDef="let site">{{ generalInformation.prettyTime }}</td>
        </ng-container>

        <!-- Total Favicon Column -->
        <ng-container matColumnDef="totalfavicon">
          <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> </th>
        </ng-container>
        <!-- Total Url Column -->
        <ng-container matColumnDef="totalUrl">
          <th class="second-header-row" mat-header-cell *matHeaderCellDef> Gesamt: </th>
        </ng-container>
        <!-- Total Visits Column -->
        <ng-container matColumnDef="totalVisits">
          <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformation.visits}} </th>
        </ng-container>
        <!-- Total Percentage Column -->
        <ng-container matColumnDef="totalPercentage">
          <th class="smallColumn second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformation.percentage}} </th>
        </ng-container>
        <!-- Total time Column -->
        <ng-container matColumnDef="totalTime">
          <th class="second-header-row" mat-header-cell *matHeaderCellDef> {{generalInformation.prettyTime}} </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['totalfavicon', 'totalUrl', 'totalVisits', 'totalPercentage', 'totalTime']"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
</div>
