.example-header-image {
  width: 40px;
  height: 40px;
}

.favicon{
  width: 40px;
  height: 40px;
  object-fit: contain;
  //-webkit-filter: drop-shadow(0px 0px 3px #000000	);
  //filter: drop-shadow(0px 0px 3px #000000	);
}

.chart{
  width: 70%;
  float: left;
  margin: 0;
}

.main-page {
  margin-top: 2vh;
  padding-bottom: 35px;
}

.info-card {
  width: 27%;
  margin-top: 2%;
  margin-right: 3%;
  max-width: 300px;
  float: right;
}

.center {
  text-align: center;
}

.title {
  font-size: 1em;
}

td,th {
  width: 25%;
  font-size: 15px;
}
tr.mat-footer-row {
  font-weight: bold;
}
.second-header-row{
  font-weight: bold;
  color: black !important;
}
.logo {
  width: 150px;
  margin-bottom: 1em;
}
.smallColumn{
  width: 5%;
}
.bottom-txt {
  margin-top: 1em;
}
.failed {
  color: red;
}
.faviconInTable{
  height: 26px;
  width: 26px;
}
table{
  margin: auto;
  min-width: 500px;
  width: 100%;
}

.download-btn {
  text-decoration: none;
  color: black;
}

.post-btn-wrapper {
  width: 30%;
  margin-top: 5%;
  float: right;
}

.post-btn-wrapper-center {
  width: 50%;
  margin: 0 auto;
}
