<div class="container main-page" *ngIf="authService.username">
    <h1>StartSeite</h1>
    <h3>User Dashboard von: <b>{{authService.username}}</b></h3>

  <div class="wrapper">

    <div style="display: block" id="dayChart" class="chart">
      <label>Webaktivität Heute</label>
      <canvas baseChart *ngIf="dayChart"
              [datasets]="dayChart.data"
              [labels]="dayChart.labels"
              [options]="dayChart.options"
              [legend]="dayChart.legend"
              [chartType]="dayChart.type"
              (chartHover)="chartHovered($event)">
      </canvas>
    </div>

    <mat-card class="example-card" #detailsCard>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img #favicon class="favicon" src="https://old.reddit.com/favicon.ico"/>
        </div>
        <mat-card-title #title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <br>
        <p #detailsCardAbsoluteTime></p>
        <p #detailsCardPercent></p>
        <p #visits></p>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
<div *ngIf="!authService.username && !authService.loading" class="container main-page">
  <h1>Willkommen auf DHBW Web-Timer</h1>
  <h3>Um diese Seite zu benutzen müssen sie eingeloggt sein!</h3><br>
  <label >Noch kein Account?</label><br>
  <button class="register-btn" mat-raised-button color="primary" (click)="register()">Registrieren mit Google</button><br><br>
  <label>Bereits registriert?</label><br>
  <button mat-raised-button color="primary" (click)="login()">Einloggen mit Google</button>
</div>