<div class="container main-page" *ngIf="authService.loggedIn">
    <h2>StartSeite</h2>
    <p>User Dashboard</p>
    <button mat-raised-button color="primary" (click)="test()" aria-label="Show an example snack-bar">
        Toast Test
    </button>


  <div class="wrapper">

    <div style="display: block" id="experienceChart" class="chart">
      <label>Webaktivität Heute</label>
      <canvas baseChart *ngIf="experienceChart"
              [datasets]="experienceChart.data"
              [labels]="experienceChart.labels"
              [options]="experienceChart.options"
              [legend]="experienceChart.legend"
              [chartType]="experienceChart.type"
              (chartHover)="chartHovered($event)">
      </canvas>
    </div>

    <mat-card class="example-card" #detailsCard>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img #favicon class="favicon" src="https://old.reddit.com/favicon.ico"/>
        </div>
        <mat-card-title #title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <br>
        <p #detailsCardAbsoluteTime></p>
        <p #detailsCardPercent></p>
        <p #visits></p>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
<div *ngIf="!authService.loggedIn" class="container main-page">
  <h1>Willkommen auf DHBW Web-Timer</h1>
  <h3>Um diese Seite zu benutzen müssen sie eingeloggt sein!</h3><br>
  <label >Noch kein Account?</label><br>
  <button class="register-btn" mat-raised-button color="primary" (click)="register()">Registrieren mit Google</button><br><br>
  <label>Bereits registriert?</label><br>
  <button mat-raised-button color="primary" (click)="login()">Einloggen mit Google</button>
</div>