<div class="container">
    <br>
    <h2>StartSeite</h2>
    <p>User Dashboard</p>
    <button mat-raised-button color="primary" (click)="test()" aria-label="Show an example snack-bar">
        Toast Test
    </button>

  <div style="display: block" id="experienceChart" class="chart">
    <label>Vorerfahrungen der Probanden im Vergleich</label>
    <canvas baseChart *ngIf="experienceChart"
            [datasets]="experienceChart.data"
            [labels]="experienceChart.labels"
            [options]="experienceChart.options"
            [legend]="experienceChart.legend"
            [chartType]="experienceChart.type">
    </canvas>
  </div>

</div>

