<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Web Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="router.isActive('/', true)" >
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.username" [class.active]="router.isActive('/statistics', true)" >
            <a class="nav-link" [routerLink]="['/statistics']">Statistiken</a>
        </li>
        <li class="nav-item" [class.active]="router.isActive('/about', true)">
          <a class="nav-link" [routerLink]="['/about']">Über uns</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-sm-0" *ngIf="authService.username">
        <li class="nav-item" [class.active]="router.isActive('/about', true)">
          <span class="username nav-link">
            Eingeloggt als: <b>{{authService.username}}</b>
            <mat-icon class="settings" aria-hidden="false" [routerLink]="['/settings']">settings</mat-icon>
          </span>
        </li>
        <li class="nav-item" [class.active]="router.isActive('/about', true)">
          <button mat-raised-button color="accent" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
</nav>