.username{
    margin-right: 0.5vw;
    color: black !important;
    position: relative;
}
.settings, .account {
    position: relative;
    top: 7px;
}
.account {
    color: gray;
}
.settings:hover {
    cursor: pointer;
}
.logo {
    width: 40px;
}
.mat-icon {
    font-family: 'Material Icons';
    font-size: x-large;
}