<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Web Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="router.isActive('/', true)" >
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn" [class.active]="router.isActive('/statistics', true)" >
            <a class="nav-link" [routerLink]="['/statistics']">Statistiken</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn" [class.active]="router.isActive('/community', true)" >
            <a class="nav-link" [routerLink]="['/community']">Community</a>
        </li>
        <li class="nav-item" [class.active]="router.isActive('/about', true)">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
      </ul>
      <button mat-raised-button color="accent" class="my-2 my-sm-0" *ngIf="loggedIn" (click)="logout()">Logout</button>
    </div>
</nav>