.username{
    margin-right: 0.5vw;
    opacity: 100% !important;
    color: black !important;
    position: relative;
    top: -6px;
}
.settings {
    position: relative;
    top: 7px;
}
.settings:hover {
    cursor: pointer;
}
.logo {
    width: 40px;
}