#barChart {
    //width: 50%
}
.timeStatistics {
    border: 0px solid gray;
    border-radius: 3px;
}
.day-wrapper {
    display: block;
    margin: auto;
    width: 60%;
}
.statisticsHeader {
    padding: 10px;
}
.day-form, .week-form, .month-form {
    margin-top: 1em !important;
    // width: 90%;
}
.next-icon, .delete-icon{
    margin-top: 1em;
    position: relative;
    top: -0.5em;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.center-btn {
    width: 5%;
    margin: auto;
}

.compare-box{
    float: right;
    margin-top: 1.5em;
}
.date-wrapper{
    padding: 0;
    width: 50%;
    margin: auto;
    text-align: center;
}
.addweek-btn {
    margin-top: 10px;
}
.week-wrapper, .month-wrapper {
    max-width: 100%;
    margin: 1%;
}
.delete-icon {
    background-color: red;
    width: 0;
}