<div class="container main-page">
    <img src="assets/images/logo.png" class="logo" />
    <h1>Einstellungen für: <b>{{authService.username}}</b></h1>
    <p>Hier können Sie Einstellung für Ihr Konto vornehmen</p>
    <br>
      <h3>Zum Ändern Ihres Benutzernames:</h3>
      <button class="change-btn" mat-raised-button color="accent" (click)="changeUsername()">Username ändern</button>
      <h3>Zum Löschen Ihres Kontos:</h3>
      <button class="delete-btn" mat-raised-button color="warn" (click)="openDeleteDialog()">Konto löschen</button>
</div>