.main-page {
    margin-top: 2vh;
    padding-bottom: 35px;
}
.delete-btn {
    margin-top: -1em;
}
.change-btn {
    margin-bottom: 2em;
    margin-top: -1em;
}
.logo {
    width: 100px;
    margin-bottom: 1em;
}